@media (min-width: 768px) {
	.container__article {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 5rem 2rem;
		gap: 5vw;
	}
	.container__article > div {
		max-width: 45vw;
	}
}

@media (min-width: 992px) {
	.container__article {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 64rem;
		margin: 0 auto;
		padding: 5rem 4rem;
	}
}
